.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
  margin-top: auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (min-width: 1025px) {
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
  }
}
