.menuItem,
.menuItemLogo {
  height: 90px;
  background-color: var(--white);
  padding: 0 0.5rem;

  font-size: 0.7rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: filter 0.2s;

  box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.5);

  img {
    height: 98%;
  }

  &:hover {
    text-decoration: none;
    filter: brightness(0.9);
  }

  @media screen and (max-height: 768px) and (min-width: 768px) {
    height: 6rem;
    width: 10rem!important;
    margin: 0 auto;
  }

  @media screen and (min-height: 768px) {
    height: 10rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1rem;
  }
}

.menuItemLogo {
  &:hover {
    filter: brightness(1);
  }

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.partnerLogo {
  max-width: 100%;
  max-height: 50%;
}

.teamMember {
  border-radius: 25px;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  height: 100%;
  top: 2px;
  left: 0;
  position: absolute;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
