.menuContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 1rem 2rem 0;

  @media screen and (min-width: 1024px) {
    width: 49%;
    grid-template-columns: repeat(3, 1fr);
  }
}
