.menuContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
  padding-right: 0.5rem;
  margin-bottom: 2rem;

  @media screen and (min-width: 1024px) {
    width: 49%;
  }
}
