.contentContainer {
  min-height: 32rem;
  width: 95%;
  border-radius: 5rem;
  box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.5);
  padding: 2rem;

  @media screen and (min-width: 1024px) {
    width: 49%;
    padding: 5rem;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
  @media screen and (min-width: 1024px) {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.description {
  font-size: 0.8rem;
  @media screen and (min-width: 1024px) {
    font-size: 1rem;
  }
}
