.contentContainer {
  min-height: 20rem;
  max-height: 20rem;
  width: 95%;
  border-radius: 5rem;
  box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.5);
  padding: 2rem;

  @media screen and (min-width: 768px) {
    min-height: 26rem;
    max-height: 26rem;
  }

  @media screen and (min-height: 768px) and (min-width: 768px) {
    min-height: 32rem;
    max-height: 32rem;
  }

  @media screen and (min-width: 1024px) {
    width: 49%;
    padding: 4rem;
  }

  @media screen and (max-height: 768px) {
    min-height: 21rem!important;
    max-height: 21rem!important;
    padding: 3rem 4rem;
  }
}

.title {
  font-size: 1rem;
  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.subtitle {
  font-size: 0.8rem;
  @media screen and (min-width: 1024px) and (min-height: 901px) {
    font-size: 1.28rem;
  }
}

.description {
  margin-top: 0.8rem;
  font-size: 0.6rem;

  @media screen and (min-width: 768px) {
    font-size: 0.7rem;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 0.8rem;
  }

  @media screen and (min-height: 901px) {
    font-size: 1rem;
  }
}
