.carousel {
    margin-top: 1rem;
    max-width: 100% !important;
    padding-bottom: 9%;
    background-color: black;
    box-shadow: 7.5px 7.5px 7.5px rgba(1, 1, 1, 0.5);

    @media (min-width: 1025px) {
        max-width: 80% !important;
        padding-bottom: 5%;
    }
}

.textContainer {
    max-width: 60% !important;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h5 {
        margin: 0;
    }

    @media (max-height: 800px) and (min-width: 900px) {
        max-width: 80% !important;
    }
}