@font-face {
  font-family: "Bank Gothic";
  src: url("//db.onlinewebfonts.com/t/cd0161509171ec0b9558c548d8e9c26d.eot");
  src: url("//db.onlinewebfonts.com/t/cd0161509171ec0b9558c548d8e9c26d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cd0161509171ec0b9558c548d8e9c26d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/cd0161509171ec0b9558c548d8e9c26d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/cd0161509171ec0b9558c548d8e9c26d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/cd0161509171ec0b9558c548d8e9c26d.svg#Bank Gothic")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bank Gothic", sans-serif;
}

:root {
  --white: #fff;
  --black: #111;
  --red-500: #f00000;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", san-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
