@font-face {
  font-family: "BankGothic";
  src: url("/static/fonts/BankGothicLtBt/BankGothic_Lt_BT.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --white: #fff;
  --black: #111;
  --red-500: #cc0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BankGothic", sans-serif;
}

html {
  height: 100%;
  min-height: 100%;
  background-color: var(--white) !important;
}

body {
  height: 100%;
  min-height: 100%;
  background-color: var(--white) !important;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white) !important;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", san-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.carousel-control-prev,
.carousel-control-next {
  margin-top: 55%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  max-height: 40% !important;
}

@media screen and (max-width: 1025px) {
  .modal-content {
    border: 0;
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
    max-width: 600px;

    .modal-header {
      padding: 0.6rem;
      padding-bottom: 0 !important;
    }

    .modal-body {
      padding: 0.6rem;
      padding-top: 0 !important;
    }
  }
}
