.navbarContainer {
    width: 95%;
    padding: 1rem 0;
    margin: 0 auto;

    img {
        height: 3rem;
        align-self: center;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}