.headerContainer {
  height: 10rem;
  background-color: black;
  display: none;

  @media screen and (min-width: 1024px) {
      display: block;
  }
}

.headerContent {
  max-width: 1400px;
  height: 10rem;
  margin: 0 auto;
  padding: 0 1.4rem;
  color: var(--white);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  nav {
    height: 10rem;
    display: flex;
    flex-direction: row;
    padding-top: 2.4rem;

    & a:first-child {
      margin-right: 4rem;
      margin-left: 0;
    }
  }

  a {
    position: relative;
    line-height: 10rem;
    margin-left: 1.8rem;

    transition: filter 0.4s;

    &:hover {
      filter: brightness(0.5);
      color: white;
      text-decoration: none;
    }

    &.active::before {
      content: "";
      border-radius: 2px;
      height: 1rem;
      width: 1rem;
      background-color: var(--red-500);

      position: absolute;
      top: 35%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  img {
    max-height: 7.5rem;
    align-self: center;
  }
}
