.footerContainer {
  width: 100%;
  height: 5rem;
  background-color: black;
  margin-top: auto;
  padding: 1rem 0;
}

.footerContent {
  width: 95%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactContent {
  margin: 0 auto;
  color: var(--white);
  opacity: 0.5;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  max-width: 170px;

  * + * {
    margin-left: 1rem;
  }

  p {
    margin: 0;
    font-size: 0.75rem;
  }

  @media screen and (min-width: 1024px) {
    margin: 0;
    margin-left: auto;
  }

  .socialContainer {
    margin-bottom: 0.4rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    @media (min-width: 1024px) {
      padding-right: 0.2rem;
    }
  }

  .companyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
}
