.footerContainer {
  width: 100%;
  height: 5rem;
  background-color: black;
  margin-top: auto;
  padding: 1rem 0;
}

.footerContent {
  width: 95%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactContent {
  margin: 0 auto;
  color: var(--white);
  opacity: 0.5;

  display: flex;
  flex-direction: row;
  align-items: center;

  * + * {
    margin-left: 1rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }

  @media screen and (min-width: 1024px) {
    margin: 0;
    margin-left: auto;
  }
}